psi/psi-ms/xml/exchange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--HLPP Data Exchange W3C Schema Version 4.0-->
<!--Edited by XuHuayong (shanghai U) -->
<!--Edited by ShengQuanhu(rcpa) -->
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by dreamtiger (rcpa) -->
<!--W3C Schema generated by XMLSPY v2004 rel. 3 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ProteinHit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="score" type="xs:double"/>
				<xs:element ref="Protein"/>
				<xs:element name="score_type" type="xs:string" minOccurs="0"/>
				<xs:element name="coverage" type="xs:double" minOccurs="0"/>
				<xs:element name="component_peptides" type="xs:string" minOccurs="0"/>
				<xs:element ref="RelatedGelItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="identity" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Protein">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="accession_number" type="xs:string"/>
				<xs:element name="predicted_mass" type="xs:double" minOccurs="0"/>
				<xs:element name="predicted_pi" type="xs:double" minOccurs="0"/>
				<xs:element name="gene_name" type="xs:string" minOccurs="0"/>
				<xs:element name="synonyms" type="xs:string" minOccurs="0"/>
				<xs:element name="protein_organism" type="xs:string" minOccurs="0"/>
				<xs:element name="orf_number" type="xs:string" minOccurs="0"/>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="sequence" type="xs:string" minOccurs="0"/>
				<xs:element name="modifications" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SampleOriginComposition">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sample_origin_id" type="xs:string"/>
				<xs:element name="amount" type="xs:double"/>
				<xs:element name="protein_concentration" type="xs:double" minOccurs="0"/>
				<xs:element name="volume" type="xs:double" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TandemSequenceData">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="source_type" type="xs:string"/>
				<xs:element name="sequence" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DBSearchParameters">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="program" type="xs:string"/>
				<xs:element name="database_name" type="xs:string"/>
				<xs:element name="database_version" type="xs:string"/>
				<xs:element name="parameters_file" type="xs:string"/>
				<xs:element name="fixed_modifications" type="xs:string" minOccurs="0"/>
				<xs:element name="variable_modifications" type="xs:string" minOccurs="0"/>
				<xs:element name="mass_value_type" type="xs:string" minOccurs="0"/>
				<xs:element name="mass_error_type" type="xs:string" minOccurs="0"/>
				<xs:element name="n_terminal_aa" type="xs:string" minOccurs="0"/>
				<xs:element name="c_terminal_aa" type="xs:string" minOccurs="0"/>
				<xs:element name="name_of_counted_aa" type="xs:string" minOccurs="0"/>
				<xs:element name="regex_pattern" type="xs:string" minOccurs="0"/>
				<xs:element name="taxonomical_filter" type="xs:integer" minOccurs="0"/>
				<xs:element name="max_missed_cleavages" type="xs:integer" minOccurs="0"/>
				<xs:element name="fragment_ion_tolerance" type="xs:double" minOccurs="0"/>
				<xs:element name="peptide_mass_tolerance" type="xs:double" minOccurs="0"/>
				<xs:element name="accurate_mass_mode" type="xs:boolean" minOccurs="0"/>
				<xs:element name="mass_error" type="xs:double" minOccurs="0"/>
				<xs:element name="protonated" type="xs:boolean" minOccurs="0"/>
				<xs:element name="icat_option" type="xs:boolean" minOccurs="0"/>
				<xs:element name="count_of_specific_aa" type="xs:integer" minOccurs="0"/>
				<xs:element ref="TandemSequenceData" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="OntologyEntry" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DBSearch">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="searching_date" type="xs:date"/>
				<xs:element name="experimenter" type="xs:string"/>
				<xs:element ref="DBSearchParameters"/>
			</xs:sequence>
			<xs:attribute name="identity" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sample">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="sampling_date" type="xs:date"/>
				<xs:element name="experimenter" type="xs:string"/>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="is_shotgun" type="xs:boolean"/>
				<xs:element ref="AnalyteProcessingStepChoice" minOccurs="0"/>
				<xs:element ref="SampleOriginComposition" maxOccurs="unbounded"/>
				<xs:element ref="DBSearch" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ProteinHit" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TaggingProcess">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="tag_type" type="xs:string"/>
				<xs:element name="lysis_buffer" type="xs:string"/>
				<xs:element name="protein_concentration" type="xs:double"/>
				<xs:element name="tag_purity" type="xs:double" minOccurs="0"/>
				<xs:element name="tag_concentration" type="xs:double" minOccurs="0"/>
				<xs:element name="final_volume" type="xs:double" minOccurs="0"/>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Organism">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="taxonomy_number" type="xs:integer"/>
				<xs:element name="strain_identifier" type="xs:string"/>
				<xs:element name="relevant_genotype" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SampleOrigin">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="condition" type="xs:string"/>
				<xs:element name="environment" type="xs:string"/>
				<xs:element ref="Organism"/>
				<xs:element name="tissue_type" type="xs:string" minOccurs="0"/>
				<xs:element name="cell_type" type="xs:string" minOccurs="0"/>
				<xs:element name="cell_cycle_phase" type="xs:string" minOccurs="0"/>
				<xs:element name="cell_component" type="xs:string" minOccurs="0"/>
				<xs:element name="technique" type="xs:string" minOccurs="0"/>
				<xs:element name="metabolic_label" type="xs:string" minOccurs="0"/>
				<xs:element name="buffer" type="xs:string" minOccurs="0"/>
				<xs:element name="quantification_type" type="xs:string" minOccurs="0"/>
				<xs:element name="keep_condition" type="xs:string" minOccurs="0"/>
				<xs:element ref="TaggingProcess" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="identity" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Electrospray">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="spray_tip_diameter" type="xs:double"/>
				<xs:element name="cone_voltage" type="xs:double"/>
				<xs:element name="solvent" type="xs:string"/>
				<xs:element name="interface_manufacturer" type="xs:string"/>
				<xs:element name="spray_tip_manufacturer" type="xs:string"/>
				<xs:element name="spray_tip_voltage" type="xs:double" minOccurs="0"/>
				<xs:element name="solution_voltage" type="xs:double" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="loading_type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="LC"/>
						<xs:enumeration value="DI"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="MALDI">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ion_mode" type="xs:string"/>
				<xs:element name="laser_wavelength" type="xs:double"/>
				<xs:element name="grid_voltage" type="xs:double"/>
				<xs:element name="matrix_type" type="xs:string" minOccurs="0"/>
				<xs:element name="laser_power" type="xs:double" minOccurs="0"/>
				<xs:element name="acceleration_voltage" type="xs:double" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OtherIonisation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element ref="OntologyEntry" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IonSourceChoice">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Electrospray"/>
				<xs:element ref="MALDI"/>
				<xs:element ref="OtherIonisation"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="IonSource">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="collision_energy" type="xs:string"/>
				<xs:element ref="IonSourceChoice"/>
				<xs:element ref="mzAnalysis"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MassSpecMachine">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="manufacturer" type="xs:string"/>
				<xs:element name="model_name" type="xs:string"/>
				<xs:element name="software_version" type="xs:string"/>
				<xs:element ref="IonSource"/>
			</xs:sequence>
			<xs:attribute name="identity" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="MethodCitation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reference" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ResultCitation">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="reference" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Experiment">
		<xs:annotation>
			<xs:documentation>Describes the overall motivation for the proteomics experiment</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="submit_laboratory_id" type="xs:string"/>
				<xs:element name="hypothesis" type="xs:string"/>
				<xs:element name="description" type="xs:string"/>
				<xs:element ref="SampleOrigin" maxOccurs="unbounded"/>
				<xs:element ref="Sample" maxOccurs="unbounded"/>
				<xs:element name="participated_laboratory_id" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="MassSpecMachine" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="MethodCitation" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ResultCitation" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="accession_number" type="xs:ID"/>
			<xs:attribute name="submit_type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="NEW"/>
						<xs:enumeration value="UPDATE"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="AssayDataPoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="point_index" type="xs:integer"/>
				<xs:element name="measure_time" type="xs:double"/>
				<xs:element name="protein_assay" type="xs:double"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MobilePhaseComponent">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="concentration" type="xs:double"/>
				<xs:element name="description" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="identity" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="GradientStep">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="step_index" type="xs:integer"/>
				<xs:element name="step_time" type="xs:double"/>
				<xs:element ref="PercentX" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fraction">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="fraction_index" type="xs:integer"/>
				<xs:element name="start_point" type="xs:double"/>
				<xs:element name="end_point" type="xs:double"/>
				<xs:element name="protein_assay" type="xs:double" minOccurs="0"/>
				<xs:element ref="AnalyteProcessingStepChoice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PercentX">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="mobile_phase_component_id" type="xs:string"/>
				<xs:element name="percentage" type="xs:double"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Column">
		<xs:annotation>
			<xs:documentation>Description of an HPLC or NanoLC column</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="analyte_date" type="xs:date"/>
				<xs:element name="experimenter" type="xs:string"/>
				<xs:element name="internal_length" type="xs:double"/>
				<xs:element name="internal_diameter" type="xs:double"/>
				<xs:element name="temperature" type="xs:double"/>
				<xs:element name="injection_volume" type="xs:double"/>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="manufacturer" type="xs:string"/>
				<xs:element name="part_number" type="xs:string"/>
				<xs:element name="lot_number" type="xs:string"/>
				<xs:element name="stationary_phase" type="xs:string"/>
				<xs:element name="particle_size" type="xs:double" minOccurs="0"/>
				<xs:element name="pore_size" type="xs:double" minOccurs="0"/>
				<xs:element name="flow_rate" type="xs:double" minOccurs="0"/>
				<xs:element name="parameters_file" type="xs:string" minOccurs="0"/>
				<xs:element ref="Fraction" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="MobilePhaseComponent" maxOccurs="unbounded"/>
				<xs:element ref="GradientStep" maxOccurs="unbounded"/>
				<xs:element ref="Column" minOccurs="0"/>
				<xs:element ref="AssayDataPoint" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Band">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="band_index" type="xs:integer"/>
				<xs:element name="lane_number" type="xs:integer"/>
				<xs:element name="apparent_mass" type="xs:double"/>
				<xs:element name="area" type="xs:double" minOccurs="0"/>
				<xs:element name="intensity" type="xs:double" minOccurs="0"/>
				<xs:element name="local_background" type="xs:double" minOccurs="0"/>
				<xs:element name="volume" type="xs:double" minOccurs="0"/>
				<xs:element name="ratio_to_front" type="xs:double" minOccurs="0"/>
				<xs:element name="pixel_x_coord" type="xs:double" minOccurs="0"/>
				<xs:element name="pixel_y_coord" type="xs:double" minOccurs="0"/>
				<xs:element name="pixel_radius" type="xs:double" minOccurs="0"/>
				<xs:element name="normalized_volume" type="xs:double" minOccurs="0"/>
				<xs:element name="annotation" type="xs:string" minOccurs="0"/>
				<xs:element name="annotation_source" type="xs:string" minOccurs="0"/>
				<xs:element name="normalization" type="xs:string" minOccurs="0"/>
				<xs:element ref="AnalyteProcessingStepChoice" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="BoundaryPoint" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DiGEGelItem" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RelatedGelItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Gel1D">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="analyte_date" type="xs:date"/>
				<xs:element name="experimenter" type="xs:string"/>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="percent_acrylamide" type="xs:double"/>
				<xs:element name="gel_length" type="xs:double"/>
				<xs:element name="gel_width" type="xs:double"/>
				<xs:element name="gel_thickness" type="xs:double"/>
				<xs:element name="raw_image_file" type="xs:string"/>
				<xs:element name="equipment" type="xs:string"/>
				<xs:element name="solubilization_buffer" type="xs:string"/>
				<xs:element name="stain_details" type="xs:string"/>
				<xs:element name="protein_assay" type="xs:double" minOccurs="0"/>
				<xs:element name="mass_start" type="xs:double" minOccurs="0"/>
				<xs:element name="mass_end" type="xs:double" minOccurs="0"/>
				<xs:element name="annotated_image_file" type="xs:string" minOccurs="0"/>
				<xs:element name="software_version" type="xs:string" minOccurs="0"/>
				<xs:element name="warped_image_file" type="xs:string" minOccurs="0"/>
				<xs:element name="warping_map_file" type="xs:string" minOccurs="0"/>
				<xs:element name="in_gel_digestion" type="xs:string" minOccurs="0"/>
				<xs:element name="background" type="xs:string" minOccurs="0"/>
				<xs:element name="pixel_size_x" type="xs:string" minOccurs="0"/>
				<xs:element name="pixel_size_y" type="xs:string" minOccurs="0"/>
				<xs:element name="denaturing_agent" type="xs:string" minOccurs="0"/>
				<xs:element name="run_details" type="xs:string" minOccurs="0"/>
				<xs:element ref="Band" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DiGEGel" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Spot">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="spot_index" type="xs:integer"/>
				<xs:element name="apparent_mass" type="xs:double"/>
				<xs:element name="apparent_pi" type="xs:double"/>
				<xs:element name="area" type="xs:double" minOccurs="0"/>
				<xs:element name="intensity" type="xs:double" minOccurs="0"/>
				<xs:element name="local_background" type="xs:double" minOccurs="0"/>
				<xs:element name="volume" type="xs:double" minOccurs="0"/>
				<xs:element name="pixel_x_coord" type="xs:double" minOccurs="0"/>
				<xs:element name="pixel_y_coord" type="xs:double" minOccurs="0"/>
				<xs:element name="pixel_radius" type="xs:double" minOccurs="0"/>
				<xs:element name="normalized_volume" type="xs:double" minOccurs="0"/>
				<xs:element name="annotation" type="xs:string" minOccurs="0"/>
				<xs:element name="annotation_source" type="xs:string" minOccurs="0"/>
				<xs:element name="normalization" type="xs:string" minOccurs="0"/>
				<xs:element ref="AnalyteProcessingStepChoice" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="BoundaryPoint" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DiGEGelItem" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="RelatedGelItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Gel2D">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="analyte_date" type="xs:date"/>
				<xs:element name="experimenter" type="xs:string"/>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="percent_acrylamide" type="xs:double"/>
				<xs:element name="first_dim_width" type="xs:double"/>
				<xs:element name="second_dim_width" type="xs:double"/>
				<xs:element name="gel_thickness" type="xs:double"/>
				<xs:element name="raw_image_file" type="xs:string"/>
				<xs:element name="equipment" type="xs:string"/>
				<xs:element name="solubilization_buffer" type="xs:string"/>
				<xs:element name="stain_details" type="xs:string"/>
				<xs:element name="scan_equipment" type="xs:string"/>
				<xs:element name="protein_assay" type="xs:double" minOccurs="0"/>
				<xs:element name="pi_start" type="xs:double" minOccurs="0"/>
				<xs:element name="pi_end" type="xs:double" minOccurs="0"/>
				<xs:element name="mass_start" type="xs:double" minOccurs="0"/>
				<xs:element name="mass_end" type="xs:double" minOccurs="0"/>
				<xs:element name="annotated_image_file" type="xs:string" minOccurs="0"/>
				<xs:element name="software_version" type="xs:string" minOccurs="0"/>
				<xs:element name="warped_image_file" type="xs:string" minOccurs="0"/>
				<xs:element name="warping_map_file" type="xs:string" minOccurs="0"/>
				<xs:element name="in_gel_digestion" type="xs:string" minOccurs="0"/>
				<xs:element name="background" type="xs:string" minOccurs="0"/>
				<xs:element name="pixel_size_x" type="xs:string" minOccurs="0"/>
				<xs:element name="pixel_size_y" type="xs:string" minOccurs="0"/>
				<xs:element name="first_dim_details" type="xs:string" minOccurs="0"/>
				<xs:element name="second_dim_details" type="xs:string" minOccurs="0"/>
				<xs:element ref="Spot" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DiGEGel" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="TreatedAnalyte">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AnalyteProcessingStepChoice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChemicalTreatment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="analyte_date" type="xs:date"/>
				<xs:element name="experimenter" type="xs:string"/>
				<xs:element name="digestion" type="xs:string"/>
				<xs:element name="derivatisations" type="xs:string"/>
				<xs:element ref="TreatedAnalyte" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OtherAnalyte">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element ref="OntologyEntry" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="AnalyteProcessingStepChoice" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OtherAnalyteProcessingStep">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="analyte_date" type="xs:date"/>
				<xs:element name="experimenter" type="xs:string"/>
				<xs:element ref="OntologyEntry" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="OtherAnalyte" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RawFile">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="raw_mass_file" type="xs:string"/>
				<xs:element ref="PeakList" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MassSpecExperiment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="analyte_date" type="xs:date"/>
				<xs:element name="experimenter" type="xs:string"/>
				<xs:element name="mass_spec_machine_id" type="xs:string"/>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="parameters_file" type="xs:string" minOccurs="0"/>
				<xs:element ref="RawFile" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AnalyteProcessingStepChoice">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Gel1D"/>
				<xs:element ref="Gel2D"/>
				<xs:element ref="Column"/>
				<xs:element ref="ChemicalTreatment"/>
				<xs:element ref="MassSpecExperiment"/>
				<xs:element ref="OtherAnalyteProcessingStep"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="BoundaryPoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="point_index" type="xs:integer"/>
				<xs:element name="pixel_x_coord" type="xs:double"/>
				<xs:element name="pixel_y_coord" type="xs:double"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DiGEGel">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dye_type" type="xs:string"/>
				<xs:element name="tiff_image" type="xs:string"/>
				<xs:element name="exposure_time" type="xs:string"/>
				<xs:element name="excitation_wavelength" type="xs:double"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DiGEGelItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dye_type" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OntologyEntry">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="category" type="xs:string"/>
				<xs:element name="entry_value" type="xs:string"/>
				<xs:element name="description" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ListProcessing">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="processing_index" type="xs:integer"/>
				<xs:element name="background_threshold" type="xs:double"/>
				<xs:element name="smoothing_process" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSMSFraction">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="from_scan" type="xs:integer" minOccurs="0"/>
				<xs:element name="to_scan" type="xs:integer" minOccurs="0"/>
				<xs:element name="from_time" type="xs:double" minOccurs="0"/>
				<xs:element name="to_time" type="xs:double" minOccurs="0"/>
				<xs:element name="ms_level" type="xs:integer"/>
				<xs:element name="target_m_to_z" type="xs:double"/>
				<xs:element name="plus_or_minus" type="xs:double" minOccurs="0"/>
				<xs:element name="precursor_charge" type="xs:integer" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ChromatogramPoint">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="point_index" type="xs:integer"/>
				<xs:element name="time_point" type="xs:double"/>
				<xs:element name="ion_count" type="xs:double"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeakSpecificChromInt">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="background_threshold" type="xs:double"/>
				<xs:element name="area_under_curve" type="xs:double"/>
				<xs:element name="sister_peak_reference" type="xs:double"/>
				<xs:element name="software_version" type="xs:string"/>
				<xs:element name="resolution" type="xs:string" minOccurs="0"/>
				<xs:element name="peak_description" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Peak">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="m_to_z" type="xs:double"/>
				<xs:element name="abundance" type="xs:double"/>
				<xs:element name="multiplicity" type="xs:double" minOccurs="0"/>
				<xs:element ref="ChromatogramPoint" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PeakSpecificChromInt" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PMFDBSearchResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dbsearch_id" type="xs:string"/>
				<xs:element name="pmf_result_file" type="xs:string"/>
				<xs:element name="protein_hit_id" type="xs:string" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeptideHit">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="rank" type="xs:integer"/>
				<xs:element name="score" type="xs:double"/>
				<xs:element name="probability" type="xs:double" minOccurs="0"/>
				<xs:element name="delta_score" type="xs:double" minOccurs="0"/>
				<xs:element name="score_type" type="xs:string"/>
				<xs:element name="sequence" type="xs:string"/>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
				<xs:element name="protein_hit_id" type="xs:string" maxOccurs="unbounded"/>
				<xs:element ref="OntologyEntry" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="MSMSDBSearchResult">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dbsearch_id" type="xs:string"/>
				<xs:element ref="PeptideHit" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PeakList">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string"/>
				<xs:element name="mass_value_type" type="xs:string"/>
				<xs:element name="peaks" type="xs:string" minOccurs="0"/>
				<xs:element ref="PeakList" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ListProcessing" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="MSMSFraction" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Peak" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PMFDBSearchResult" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="MSMSDBSearchResult" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="list_type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="PMF_FullList"/>
						<xs:enumeration value="PMF_EditList"/>
						<xs:enumeration value="MSMS_RESULT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RelatedGelItem">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string"/>
				<xs:element name="gel_reference" type="xs:string"/>
				<xs:element name="item_reference" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Quadrupole">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Hexapole">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="description" type="xs:string" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="IonTrap">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="gas_type" type="xs:string"/>
				<xs:element name="gas_pressure" type="xs:double"/>
				<xs:element name="isolation_centre" type="xs:double"/>
				<xs:element name="isolation_width" type="xs:double"/>
				<xs:element name="rf_frequency" type="xs:double" minOccurs="0"/>
				<xs:element name="excitation_amplitude" type="xs:double" minOccurs="0"/>
				<xs:element name="final_ms_level" type="xs:double" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CollisionCell">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="gas_type" type="xs:string"/>
				<xs:element name="gas_pressure" type="xs:double"/>
				<xs:element name="collision_offset" type="xs:double"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ToF">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="internal_length" type="xs:double"/>
			</xs:sequence>
			<xs:attribute name="reflection_state" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="On"/>
						<xs:enumeration value="Off"/>
						<xs:enumeration value="None"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="OthermzAnalysis">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element ref="OntologyEntry" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="mzAnalysisChoice">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="Quadrupole"/>
				<xs:element ref="Hexapole"/>
				<xs:element ref="IonTrap"/>
				<xs:element ref="CollisionCell"/>
				<xs:element ref="ToF"/>
				<xs:element ref="OthermzAnalysis"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="Detection">
		<xs:complexType>
			<xs:attribute name="DetectionType" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="photomultiplier"/>
						<xs:enumeration value="electron_multiplier"/>
						<xs:enumeration value="micro-channel_plate"/>
						<xs:enumeration value="ICR"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="mzAnalysisFollowerChoice">
		<xs:complexType>
			<xs:choice>
				<xs:element ref="mzAnalysis"/>
				<xs:element ref="Detection"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="mzAnalysis">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="mzAnalysisChoice"/>
				<xs:element ref="mzAnalysisFollowerChoice"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataContainer">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Band" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="Spot" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="DBSearch" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PeakList" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ProteinHit" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
