psi/psi-ms/xml/mzIdent/mzIdent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 $Id: mzIdent.xsd,v 1.1 2004/10/04 08:49:41 krunte Exp $
 Authors:
  Randy K Julian (Eli Lilly)
  Kai Runte (Bielefeld University)
 Tested with:
  SQC (Schema Quality Checker, IBM), MSV (Multi Schema Validator, Sun), XMLSPY (Altova)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="mzIdent">
        <xs:annotation>
            <xs:documentation>Comment describing your root element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cvLookup" type="cvLookupType" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>This stores the lookup information for a referred-to
                            controlled vocabulary source.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="description">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="admin" type="adminType"/>
                            <xs:element name="settings" type="paramType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ident">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="proteinGroup" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="protein" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="dbName" type="xs:string"/>
                                                    <xs:element name="dbID" type="xs:string"/>
                                                    <xs:element name="description" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="sequence" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="peptide" type="peptideType" minOccurs="0" maxOccurs="unbounded"/>
                                                    <xs:group ref="paramGroup" maxOccurs="unbounded"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:group ref="paramGroup" maxOccurs="unbounded"/>
                                    </xs:sequence>
                                    <xs:attribute name="count" type="xs:integer" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="peptide" type="peptideType" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="peptideType">
        <xs:sequence>
            <xs:element name="seq" type="xs:string"/>
            <xs:group ref="paramGroup" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="cvLookupType">
        <xs:annotation>
            <xs:documentation>Information about an ontology/CV source and a short 'lookup' tag to
                refer to.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="cvLabel" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The short label to be referred to from cvParamType.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="fullName" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>The usual name for the resource (e.g. The MGED Ontology).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="version" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The version of the CV from which the referred-to terms are drawn.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="address" type="xs:anyURI" use="required">
            <xs:annotation>
                <xs:documentation>The URI for the resource.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:group name="paramGroup">
        <xs:annotation>
            <xs:documentation>Structure allowing the use of controlled or uncontrolled vocabulary</xs:documentation>
        </xs:annotation>
        <xs:choice>
            <xs:element name="cvParam" type="cvParamType">
                <xs:annotation>
                    <xs:documentation>This element holds additional data or annotation. Only
                        controlled values are allowed here.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userParam" type="userParamType">
                <xs:annotation>
                    <xs:documentation>This element holds additional data or annotation.
                        Uncontrolled, or user controlled values are allowed here.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:group>
    <xs:complexType name="paramType">
        <xs:annotation>
            <xs:documentation>Structure allowing the use of controlled or uncontrolled vocabulary</xs:documentation>
        </xs:annotation>
        <xs:choice maxOccurs="unbounded">
            <xs:element name="cvParam" type="cvParamType">
                <xs:annotation>
                    <xs:documentation>This element holds additional data or annotation. Only
                        controlled values are allowed here.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userParam" type="userParamType">
                <xs:annotation>
                    <xs:documentation>This element holds additional data or annotation.
                        Uncontrolled, or user controlled values are allowed here.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="cvParamType">
        <xs:annotation>
            <xs:documentation>Parameters from a controlled vocbulary.</xs:documentation>
        </xs:annotation>
        <xs:attribute name="cvLabel" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The short tag for the resource as defined in cvLookupType.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The accession number of the referred-to term in the named resource.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The actual name for the parameter, from the controlled vocabulary.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>The value for the parameter, where appropriate (may also come from CV...).</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="userParamType">
        <xs:annotation>
            <xs:documentation>Uncontrolled user parameters (vocabulary).</xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The actual name for the parameter.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>The value for the parameter, where appropriate.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="adminType">
        <xs:sequence>
            <xs:element name="sampleName" type="xs:string"/>
            <xs:element name="contact" type="personType">
                <xs:annotation>
                    <xs:documentation>Contact person for this dataset.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sourceFile" type="sourceFileType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Information about the original source file used to generate the instance document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="personType">
        <xs:annotation>
            <xs:documentation>Data type for operator identification information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="institution" type="xs:string"/>
            <xs:element name="contactInfo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="sourceFileType">
        <xs:annotation>
            <xs:documentation>Data type for source file information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Source file name for ms run.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>File type (typically named by vendor data system)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
