psi/psi-ms/xml/other/prot100.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Randy K Julian (Eli Lilly) -->
<!--W3C Schema generated by XMLSPY v5 rel. 3 U -->
<!--	Prot100.xsd

	Copyright (c) 2003 Eli Lilly and Co.
       Based on ProteinLynx.dtd Copyright (c) 2002 Micromass Ltd.
 
 	This is free software; you can redistribute it and/or
	modify it under the terms of the GNU Lesser General Public
	License as published by the Free Software Foundation; either
	version 2.1 of the License, or (at your option) any later version.
	This code is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
	Lesser General Public License for more details.
 
	You should have received a copy of the GNU Lesser General Public
	License along with this library; if not, write to the Free Software
	Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA	
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="ACCESSION" type="xs:string"/>
	<xs:complexType name="ACQUISITION_PARAMETERSType">
		<xs:sequence>
			<xs:element name="PRECURSOR_SELECTION_LIST_EXTERNAL_REF" type="PRECURSOR_SELECTION_LIST_EXTERNAL_REFType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AGE" type="xs:string"/>
	<xs:complexType name="AMINO_ACID_SEQUENCE_DIGESTORType">
		<xs:sequence>
			<xs:element name="CLEAVES_AT" type="CLEAVES_ATType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="NAME" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="ANALYSIS_DIGESTORType">
		<xs:sequence>
			<xs:element name="AMINO_ACID_SEQUENCE_DIGESTOR" type="AMINO_ACID_SEQUENCE_DIGESTORType"/>
		</xs:sequence>
		<xs:attribute name="MISSED_CLEAVAGES" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="ANALYSIS_MODIFIERType">
		<xs:sequence>
			<xs:element name="MODIFIER" type="MODIFIERType"/>
		</xs:sequence>
		<xs:attribute name="STATUS" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="FIXED"/>
					<xs:enumeration value="VARIABLE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ANCESTORType">
		<xs:attribute name="ORDER" default="descending">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="ascending"/>
					<xs:enumeration value="descending"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ATTRIBUTEType">
		<xs:attribute name="NAME" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="AUTOMATION_WORKFLOW_TEMPLATE_REFType">
		<xs:sequence>
			<xs:element name="ELEMENT_REF" type="ELEMENT_REFType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AUTOMOD_QUERY_PARAMETERSType">
		<xs:sequence>
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element name="PROTEIN" type="PROTEINType"/>
				<xs:element name="EST" type="ESTType"/>
				<xs:element name="CHROMOSOME" type="CHROMOSOMEType"/>
			</xs:choice>
			<xs:element name="ANALYSIS_DIGESTOR" type="ANALYSIS_DIGESTORType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PEP_MASS_TOL" type="PEP_MASS_TOLType"/>
			<xs:element name="PEP_FRAG_TOL" type="PEP_FRAG_TOLType" minOccurs="0"/>
			<xs:element name="ANALYSIS_MODIFIER" type="ANALYSIS_MODIFIERType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SEARCH_DEPTH" type="SEARCH_DEPTHType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AUTO_SELECTType">
		<xs:attribute name="LOW_MASS_THRESHOLD" type="xs:string" use="required"/>
		<xs:attribute name="LOW_INTENSITY_THRESHOLD" type="xs:string" use="required"/>
		<xs:attribute name="HIGH_INTENSITY_THRESHOLD" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="BACKGROUND_SUBTRACTType">
		<xs:attribute name="POLYNOMIAL_ORDER" type="xs:string" use="required"/>
		<xs:attribute name="BELOW_CURVE" type="xs:string" use="required"/>
		<xs:attribute name="TOLERANCE" type="xs:string"/>
		<xs:attribute name="FLATTEN_EDGES">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="BLASTABLE_STEM" type="xs:string"/>
	<xs:complexType name="BLASTALL_PARAMETERSType">
		<xs:sequence>
			<xs:element name="PROTEIN" type="PROTEINType"/>
			<xs:element ref="BLASTABLE_STEM"/>
			<xs:element name="BLASTALL_PARAMETERS_SCORING" type="BLASTALL_PARAMETERS_SCORINGType"/>
			<xs:element name="BLASTALL_PARAMETERS_OUTPUT-OPTIONS" type="BLASTALL_PARAMETERS_OUTPUT-OPTIONSType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BLASTALL_PARAMETERS_INPUT-OPTIONS">
		<xs:complexType>
			<xs:attribute name="TRANSLATION" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="BLASTALL_PARAMETERS_OUTPUT-OPTIONSType">
		<xs:attribute name="NUMBER_ALIGNMENTS" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="BLASTALL_PARAMETERS_SCORINGType">
		<xs:attribute name="PROGRAM" type="xs:string" use="required"/>
		<xs:attribute name="EXPECT" type="xs:string" use="required"/>
		<xs:attribute name="MATRIX_NAME" type="xs:string" use="required"/>
		<xs:attribute name="GAPPED" default="false">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="FILTER" default="false">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BOND_ANALType">
		<xs:attribute name="RES_NAMES" type="xs:string" use="required"/>
		<xs:attribute name="POS" type="xs:string" use="required"/>
		<xs:attribute name="PR_BOND_GIVEN_DATA" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="CALIBRATEType">
		<xs:attribute name="LOCK_MASS_EXT" type="xs:string"/>
		<xs:attribute name="LOCK_MASS_INT_1" type="xs:string"/>
		<xs:attribute name="LOCK_MASS_INT_2" type="xs:string"/>
		<xs:attribute name="TOLERANCE" type="xs:string"/>
		<xs:attribute name="TOF_RESOLUTION" type="xs:string"/>
		<xs:attribute name="NP_MULTIPLIER" type="xs:string"/>
		<xs:attribute name="LOCKSPRAY_AVG_SCANS" type="xs:string"/>
	</xs:complexType>
	<xs:element name="CDNA_SEQUENCE" type="xs:string"/>
	<xs:complexType name="CENTROIDType">
		<xs:attribute name="MIN_PEAK_WIDTH" type="xs:string" use="required"/>
		<xs:attribute name="CENTROID_TOP" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="CHROMOSOMEType">
		<xs:sequence>
			<xs:element ref="DESCRIPTION" minOccurs="0"/>
			<xs:element ref="DATABANK_SOURCE" minOccurs="0"/>
			<xs:element name="REGION" type="REGIONType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="NAME" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="CLEAVES_ATType">
		<xs:sequence>
			<xs:element name="EXCLUDES" type="EXCLUDESType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="AMINO_ACID" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="A"/>
					<xs:enumeration value="C"/>
					<xs:enumeration value="D"/>
					<xs:enumeration value="E"/>
					<xs:enumeration value="F"/>
					<xs:enumeration value="G"/>
					<xs:enumeration value="H"/>
					<xs:enumeration value="I"/>
					<xs:enumeration value="K"/>
					<xs:enumeration value="L"/>
					<xs:enumeration value="M"/>
					<xs:enumeration value="N"/>
					<xs:enumeration value="P"/>
					<xs:enumeration value="Q"/>
					<xs:enumeration value="R"/>
					<xs:enumeration value="S"/>
					<xs:enumeration value="T"/>
					<xs:enumeration value="V"/>
					<xs:enumeration value="W"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="POSITION" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N-TERM"/>
					<xs:enumeration value="C-TERM"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="COMBINEType">
		<xs:choice minOccurs="0">
			<xs:element name="AUTO_SELECT" type="AUTO_SELECTType"/>
			<xs:element name="USER_INPUT" type="USER_INPUTType"/>
		</xs:choice>
		<xs:attribute name="METHOD">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="All"/>
					<xs:enumeration value="User-input"/>
					<xs:enumeration value="Auto-select"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="CONDITION" type="xs:string"/>
	<xs:complexType name="CONTAINERSType">
		<xs:sequence>
			<xs:element name="MICROTITRE_PLATES" type="MICROTITRE_PLATESType"/>
			<xs:element name="TARGET_PLATES" type="TARGET_PLATESType"/>
			<xs:element name="VIALS" type="VIALSType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CONTAINER_POSITIONType">
		<xs:sequence>
			<xs:element name="CONTAINER_REF" type="CONTAINER_REFType"/>
		</xs:sequence>
		<xs:attribute name="ROW" type="xs:string" use="required"/>
		<xs:attribute name="COLUMN" type="xs:string" use="required"/>
		<xs:attribute name="POSITION" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="CONTAINER_REFType">
		<xs:sequence>
			<xs:element name="ELEMENT_REF" type="ELEMENT_REFType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DATA" type="xs:string"/>
	<xs:complexType name="DATABANK_HYPERLINKType">
		<xs:attribute name="UNIQUE_ID" type="xs:string"/>
		<xs:attribute name="DATABANK" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="DATABANK_SEARCH_QUERY_PARAMETERSType">
		<xs:sequence>
			<xs:element name="SEARCH_DATABASE" type="SEARCH_DATABASEType" maxOccurs="unbounded"/>
			<xs:element name="SEARCH_SPECIES_LIST" type="SEARCH_SPECIES_LISTType" minOccurs="0"/>
			<xs:element name="ANALYSIS_DIGESTOR" type="ANALYSIS_DIGESTORType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SEARCH_TYPE" type="SEARCH_TYPEType"/>
			<xs:element name="PEP_MASS_TOL" type="PEP_MASS_TOLType"/>
			<xs:element name="PEP_FRAG_TOL" type="PEP_FRAG_TOLType" minOccurs="0"/>
			<xs:element ref="MAX_HITS_TO_RETURN"/>
			<xs:element ref="MIN_PEPS_TO_MATCH_PROTEIN"/>
			<xs:element name="PROTEIN_MW" type="PROTEIN_MWType"/>
			<xs:element name="PROTEIN_PI" type="PROTEIN_PIType"/>
			<xs:element name="ANALYSIS_MODIFIER" type="ANALYSIS_MODIFIERType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EXCLUDE_MASS" type="EXCLUDE_MASSType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DATABANK_SOURCE" type="xs:string"/>
	<xs:element name="DATA_REDUCTION">
		<xs:complexType/>
	</xs:element>
	<xs:element name="DATE" type="xs:string"/>
	<xs:complexType name="DEISOTOPEType">
		<xs:sequence>
			<xs:element name="MONOISO_SELECT" type="MONOISO_SELECTType" minOccurs="0"/>
			<xs:choice>
				<xs:element name="MAXENT3" type="MAXENT3Type"/>
				<xs:element name="MAXENT_LITE" type="MAXENT_LITEType"/>
				<xs:element name="TRANSFORM" type="TRANSFORMType"/>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="METHOD" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Transform"/>
					<xs:enumeration value="Maxent3"/>
					<xs:enumeration value="MaxentLite"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="DELETEType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="REFERENCEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ELEMENT_TYPE" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="DENOVO_QUERY_PARAMETERSType">
		<xs:sequence>
			<xs:element name="ANALYSIS_DIGESTOR" type="ANALYSIS_DIGESTORType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="MAX_HITS_TO_RETURN"/>
			<xs:element name="PEP_FRAG_TOL" type="PEP_FRAG_TOLType" minOccurs="0"/>
			<xs:element name="MIN_MASS_STANDARD_DEVIATION" type="MIN_MASS_STANDARD_DEVIATIONType"/>
			<xs:element name="ANALYSIS_MODIFIER" type="ANALYSIS_MODIFIERType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DESCRIPTION" type="xs:string"/>
	<xs:element name="DIGEST_REAGENTS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AMINO_ACID_SEQUENCE_DIGESTOR" type="AMINO_ACID_SEQUENCE_DIGESTORType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ELEMENT_REFType">
		<xs:attribute name="NAME" type="xs:string" use="required"/>
		<xs:attribute name="ID" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="EMAIL_ADDRESS" type="xs:string"/>
	<xs:element name="END">
		<xs:complexType/>
	</xs:element>
	<xs:element name="ENTRY" type="xs:string"/>
	<xs:complexType name="ESTType">
		<xs:sequence>
			<xs:element ref="ENTRY" minOccurs="0"/>
			<xs:element ref="ACCESSION" minOccurs="0"/>
			<xs:element ref="DATABANK_SOURCE" minOccurs="0"/>
			<xs:element ref="DESCRIPTION" minOccurs="0"/>
			<xs:element ref="CDNA_SEQUENCE"/>
			<xs:element name="TRANSLATION" type="TRANSLATIONType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="SCORE" type="xs:string" use="required"/>
		<xs:attribute name="PROBABILITY" type="xs:string"/>
		<xs:attribute name="COVERAGE" type="xs:string" use="required"/>
		<xs:attribute name="CONFIDENCE_LEVEL" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="EXCLUDESType">
		<xs:attribute name="AMINO_ACID" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="A"/>
					<xs:enumeration value="C"/>
					<xs:enumeration value="D"/>
					<xs:enumeration value="E"/>
					<xs:enumeration value="F"/>
					<xs:enumeration value="G"/>
					<xs:enumeration value="H"/>
					<xs:enumeration value="I"/>
					<xs:enumeration value="K"/>
					<xs:enumeration value="L"/>
					<xs:enumeration value="M"/>
					<xs:enumeration value="N"/>
					<xs:enumeration value="P"/>
					<xs:enumeration value="Q"/>
					<xs:enumeration value="R"/>
					<xs:enumeration value="S"/>
					<xs:enumeration value="T"/>
					<xs:enumeration value="V"/>
					<xs:enumeration value="W"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="POSITION" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N-TERM"/>
					<xs:enumeration value="C-TERM"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EXCLUDE_MASSType">
		<xs:attribute name="VALUE" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="EXPRESSION_ANALYSESType">
		<xs:sequence>
			<xs:element name="EXPRESSION_ANALYSIS_EXTERNAL_REF" type="EXPRESSION_ANALYSIS_EXTERNAL_REFType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EXPRESSION_ANALYSIS">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CONTAINER_POSITION" type="CONTAINER_POSITIONType"/>
				<xs:element name="SAMPLE_TRACKING_IDS" type="SAMPLE_TRACKING_IDSType"/>
				<xs:element ref="START" minOccurs="0"/>
				<xs:element ref="END" minOccurs="0"/>
				<xs:element ref="STEP" minOccurs="0"/>
				<xs:element ref="OVERLAP" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="EXPRESSION_ANALYSIS_ID" type="xs:ID" use="required"/>
			<xs:attribute name="NAME" type="xs:string" use="required"/>
			<xs:attribute name="TYPE" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="TARGETTED"/>
						<xs:enumeration value="SHOTGUN"/>
						<xs:enumeration value="ADVANCED_SHOTGUN"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="EXPRESSION_ANALYSIS_EXTERNAL_REFType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="REFERENCEType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIELDType">
		<xs:attribute name="POSITION" type="xs:string" use="required"/>
		<xs:attribute name="NAME" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="FILTERType">
		<xs:sequence>
			<xs:element name="FILTER_PARAMETER" type="FILTER_PARAMETERType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="NAME" type="xs:string" use="required"/>
		<xs:attribute name="TYPE" default="built-in">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="xsl"/>
					<xs:enumeration value="built-in"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="URL" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="FILTER_PARAMETERType">
		<xs:attribute name="NAME" type="xs:string" use="required"/>
		<xs:attribute name="VALUE" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="FORMATType">
		<xs:sequence>
			<xs:element name="FIELD" type="FIELDType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="FRAGMENTATION_LEVEL" default="0">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="TYPE" type="xs:string" default="default"/>
		<xs:attribute name="DEISOTOPED">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="FRAGMENTType">
		<xs:attribute name="MASS" type="xs:string" use="required"/>
		<xs:attribute name="PROBABILITY" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="FRAGMENTATIONType">
		<xs:sequence>
			<xs:element ref="DATA"/>
			<xs:element name="FRAGMENTATION" type="FRAGMENTATIONType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="PRECURSOR_INDEX" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="GELType">
		<xs:sequence>
			<xs:element name="GEL_IMAGE_EXTERNAL_REF" type="GEL_IMAGE_EXTERNAL_REFType" minOccurs="0"/>
			<xs:element name="GELSPOT" type="GELSPOTType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="GEL_ID" type="xs:ID" use="required"/>
		<xs:attribute name="NAME" type="xs:string"/>
		<xs:attribute name="TYPE" type="xs:string"/>
		<xs:attribute name="NO_OF_SPOTS" type="xs:string"/>
		<xs:attribute name="SIZE_X" type="xs:string"/>
		<xs:attribute name="SIZE_Y" type="xs:string"/>
		<xs:attribute name="SIZE_UNITS" default="none">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="mm"/>
					<xs:enumeration value="cm"/>
					<xs:enumeration value="in"/>
					<xs:enumeration value="none"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="GELSType">
		<xs:sequence>
			<xs:element name="GEL" type="GELType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GELSPOTType">
		<xs:attribute name="GELSPOT_ID" type="xs:ID" use="required"/>
		<xs:attribute name="CENTER_X" type="xs:string" use="required"/>
		<xs:attribute name="CENTER_Y" type="xs:string" use="required"/>
		<xs:attribute name="SIZE_X" type="xs:string"/>
		<xs:attribute name="SIZE_Y" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="GELSPOT_REFType">
		<xs:sequence>
			<xs:element name="ELEMENT_REF" type="ELEMENT_REFType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GEL_IMAGE_EXTERNAL_REFType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="REFERENCEType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="GENOTYPE" type="xs:string"/>
	<xs:complexType name="HITType">
		<xs:choice maxOccurs="unbounded">
			<xs:element name="PROTEIN" type="PROTEINType"/>
			<xs:element name="EST" type="ESTType"/>
			<xs:element name="CHROMOSOME" type="CHROMOSOMEType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="INSERTType">
		<xs:choice>
			<xs:sequence>
				<xs:element name="REFERENCE" type="REFERENCEType"/>
				<xs:element name="URL" type="URLType"/>
			</xs:sequence>
			<xs:element ref="TAG"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="INT_FRAG_ANALType">
		<xs:attribute name="FRAG_SEQ" type="xs:string" use="required"/>
		<xs:attribute name="MASS" type="xs:string" use="required"/>
		<xs:attribute name="DELTA_MASS" type="xs:string" use="required"/>
		<xs:attribute name="PR_FRAG_GIVEN_DATA" type="xs:string" use="required"/>
		<xs:attribute name="INF_OF_DATA" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="KEYWORD" type="xs:string"/>
	<xs:element name="LABEL" type="xs:string"/>
	<xs:complexType name="LEVELType">
		<xs:sequence>
			<xs:element name="COMBINE" type="COMBINEType" minOccurs="0"/>
			<xs:element name="MASS_MEASURE" type="MASS_MEASUREType" minOccurs="0"/>
			<xs:element name="CALIBRATE" type="CALIBRATEType" minOccurs="0"/>
			<xs:element name="SPECTRUM_SELECT" type="SPECTRUM_SELECTType" minOccurs="0"/>
			<xs:element name="DEISOTOPE" type="DEISOTOPEType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="FRAGMENTATION_LEVEL" default="0">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="0"/>
					<xs:enumeration value="1"/>
					<xs:enumeration value="2"/>
					<xs:enumeration value="3"/>
					<xs:enumeration value="4"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MASS_MATCHType">
		<xs:sequence>
			<xs:element name="RES_ANAL" type="RES_ANALType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="BOND_ANAL" type="BOND_ANALType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SER_FRAG_ANAL" type="SER_FRAG_ANALType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="INT_FRAG_ANAL" type="INT_FRAG_ANALType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:string" use="required"/>
		<xs:attribute name="SCORE" type="xs:string"/>
		<xs:attribute name="PR_SEQ_AND_DATA" type="xs:string"/>
		<xs:attribute name="PR_SEQ_GIVEN_DATA" type="xs:string"/>
		<xs:attribute name="SECONDARY_SCORE" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="MASS_MEASUREType">
		<xs:sequence>
			<xs:element name="BACKGROUND_SUBTRACT" type="BACKGROUND_SUBTRACTType" minOccurs="0"/>
			<xs:element name="PEAK_DETECTION" type="PEAK_DETECTIONType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MASS_SPECTRUMType">
		<xs:sequence>
			<xs:element name="PROCESSING_PARAMETERS" type="PROCESSING_PARAMETERSType" minOccurs="0"/>
			<xs:element name="FORMAT" type="FORMATType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MS" type="MSType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="MS_DATA_NAME" type="xs:string" use="required"/>
		<xs:attribute name="JOB_CODE" type="xs:string" use="required"/>
		<xs:attribute name="PLATE" type="xs:string"/>
		<xs:attribute name="WELL" type="xs:string" use="required"/>
		<xs:attribute name="SAMPLE_TRACKING_ID" type="xs:string" use="required"/>
		<xs:attribute name="TYPE">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="MS"/>
					<xs:enumeration value="MSMS"/>
					<xs:enumeration value="MS_MSMS"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MERGED" default="false">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="USER_FIELD_1" type="xs:string"/>
		<xs:attribute name="USER_FIELD_2" type="xs:string"/>
		<xs:attribute name="USER_FIELD_3" type="xs:string"/>
		<xs:attribute name="USER_FIELD_4" type="xs:string"/>
		<xs:attribute name="USER_FIELD_5" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="MASS_SPECTRUM_EXTERNAL_REFType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="REFERENCEType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MATCH_MODIFIERType">
		<xs:attribute name="NAME" type="xs:string" use="required"/>
		<xs:attribute name="POS" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="MAXENT3Type">
		<xs:sequence>
			<xs:element name="BACKGROUND_SUBTRACT" type="BACKGROUND_SUBTRACTType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="MIN_MASS" type="xs:string"/>
		<xs:attribute name="MAX_MASS" type="xs:string"/>
		<xs:attribute name="MAX_NO_OF_CHARGES" type="xs:string"/>
		<xs:attribute name="PEAK_WIDTH_1" type="xs:string"/>
		<xs:attribute name="PEAK_WIDTH_2" type="xs:string"/>
		<xs:attribute name="AUTO_PEAK_WIDTH">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="NUMBER_OF_ENSEMBLE_MEMBERS" type="xs:string" use="required"/>
		<xs:attribute name="ITS_PER_ENSEMBLE_MEMBER" type="xs:string" use="required"/>
		<xs:attribute name="COMPRESS_DATA" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MAXENT_LITEType">
		<xs:sequence>
			<xs:element name="BACKGROUND_SUBTRACT" type="BACKGROUND_SUBTRACTType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="MIN_MASS" type="xs:string"/>
		<xs:attribute name="MAX_MASS" type="xs:string"/>
		<xs:attribute name="MAX_NO_OF_CHARGES" type="xs:string"/>
		<xs:attribute name="THRESHOLD" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="MAX_HITS_TO_RETURN" type="xs:string"/>
	<xs:complexType name="MEDIANType">
		<xs:attribute name="MIN_PEAK_WIDTH" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="MERGE">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="FILTER" type="FILTERType" maxOccurs="unbounded"/>
				<xs:element name="RULE" type="RULEType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MERGED_WORKFLOW_PARAMETERSType">
		<xs:sequence>
			<xs:element name="PEP_FRAG_TOL" type="PEP_FRAG_TOLType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MICROTITRE_PLATEType">
		<xs:sequence>
			<xs:element name="PROCESSING_PARAMETERS_TEMPLATE_REF" type="PROCESSING_PARAMETERS_TEMPLATE_REFType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="MICROTITRE_PLATE_ID" type="xs:ID" use="required"/>
		<xs:attribute name="DATE" type="xs:string" use="required"/>
		<xs:attribute name="TYPE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="microtitre"/>
					<xs:enumeration value="target"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BARCODE" type="xs:string" use="required"/>
		<xs:attribute name="CAPACITY" type="xs:string" use="required"/>
		<xs:attribute name="NO_OF_ROWS" type="xs:string" use="required"/>
		<xs:attribute name="NO_OF_COLUMNS" type="xs:string" use="required"/>
		<xs:attribute name="TRACK" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="MICROTITRE_PLATESType">
		<xs:sequence>
			<xs:element name="MICROTITRE_PLATE" type="MICROTITRE_PLATEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MIN_MASS_STANDARD_DEVIATIONType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="UNIT" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="Da"/>
							<xs:enumeration value="ppm"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="MIN_PEPS_TO_MATCH_PROTEIN" type="xs:string"/>
	<xs:complexType name="MODIFIERType">
		<xs:sequence>
			<xs:element name="MODIFIES" type="MODIFIESType"/>
		</xs:sequence>
		<xs:attribute name="NAME" type="xs:string" use="required"/>
		<xs:attribute name="MCAT_REAGENT" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="TRUE"/>
					<xs:enumeration value="FALSE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MODIFIESType">
		<xs:sequence>
			<xs:element name="FRAGMENT" type="FRAGMENTType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="APPLIES_TO" type="xs:string" use="required"/>
		<xs:attribute name="DELTA_MASS" type="xs:string" use="required"/>
		<xs:attribute name="TYPE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="N-TERM"/>
					<xs:enumeration value="SIDECHAIN"/>
					<xs:enumeration value="C-TERM"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="MONOISO_SELECTType">
		<xs:attribute name="START_MASS" type="xs:string"/>
		<xs:attribute name="FIT_THRESHOLD_QUOT" type="xs:string"/>
		<xs:attribute name="PROB_DETECT" type="xs:string" default="0.0"/>
		<xs:attribute name="NUM_MONOISO" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="MSType">
		<xs:sequence>
			<xs:element ref="DATA"/>
			<xs:element name="FRAGMENTATION" type="FRAGMENTATIONType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MW" type="xs:string"/>
	<xs:element name="ORGAN" type="xs:string"/>
	<xs:element name="ORGANISM" type="xs:string"/>
	<xs:element name="OVERLAP">
		<xs:complexType/>
	</xs:element>
	<xs:complexType name="PARENT_SAMPLEType">
		<xs:attribute name="ID" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:complexType name="PEAK_DETECTIONType">
		<xs:choice>
			<xs:element ref="DATA_REDUCTION"/>
			<xs:sequence>
				<xs:element name="SMOOTH" type="SMOOTHType" minOccurs="0"/>
				<xs:choice>
					<xs:element name="CENTROID" type="CENTROIDType"/>
					<xs:element name="TOP" type="TOPType"/>
					<xs:element name="MEDIAN" type="MEDIANType"/>
				</xs:choice>
			</xs:sequence>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PEPTIDEType">
		<xs:sequence>
			<xs:element name="MATCH_MODIFIER" type="MATCH_MODIFIERType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:string" use="required"/>
		<xs:attribute name="SEQUENCE" type="xs:string" use="required"/>
		<xs:attribute name="MASS" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="PEP_FRAG_TOLType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="UNIT" default="Da">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="Da"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PEP_MASS_TOLType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="UNIT" use="required">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="Da"/>
							<xs:enumeration value="ppm"/>
							<xs:enumeration value="pc"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:element name="PHENOTYPE" type="xs:string"/>
	<xs:element name="PI" type="xs:string"/>
	<xs:element name="POSTAL_ADDRESS" type="xs:string"/>
	<xs:complexType name="PRECURSOR_SELECTION_LIST_EXTERNAL_REFType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="REFERENCEType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PRIORITYType">
		<xs:choice>
			<xs:element name="ANCESTOR" type="ANCESTORType"/>
			<xs:element name="ATTRIBUTE" type="ATTRIBUTEType"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PROCESSING_PARAMETERSType">
		<xs:sequence>
			<xs:element name="LEVEL" type="LEVELType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="INSTRUMENT_MODE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Maldi-QTOF-MS"/>
					<xs:enumeration value="Maldi-QTOF-MSMS"/>
					<xs:enumeration value="Maldi-MS"/>
					<xs:enumeration value="QTOF-MS"/>
					<xs:enumeration value="QTOF-MSMS"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PROCESSING_PARAMETERS_TEMPLATEType">
		<xs:sequence>
			<xs:element name="LEVEL" type="LEVELType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="PROCESSING_PARAMETERS_TEMPLATE_ID" type="xs:ID" use="required"/>
		<xs:attribute name="INSTRUMENT_MODE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Maldi-QTOF-MS"/>
					<xs:enumeration value="Maldi-QTOF-MSMS"/>
					<xs:enumeration value="Maldi-MS"/>
					<xs:enumeration value="QTOF-MS"/>
					<xs:enumeration value="QTOF-MSMS"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="TITLE" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="PROCESSING_PARAMETERS_TEMPLATESType">
		<xs:sequence>
			<xs:element name="PROCESSING_PARAMETERS_TEMPLATE" type="PROCESSING_PARAMETERS_TEMPLATEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PROCESSING_PARAMETERS_TEMPLATE_REFType">
		<xs:sequence>
			<xs:element name="ELEMENT_REF" type="ELEMENT_REFType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PROJECT">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="USERS" type="USERSType"/>
				<xs:element name="PROCESSING_PARAMETERS_TEMPLATES" type="PROCESSING_PARAMETERS_TEMPLATESType"/>
				<xs:element name="WORKFLOW_TEMPLATES" type="WORKFLOW_TEMPLATESType"/>
				<xs:element name="CONTAINERS" type="CONTAINERSType"/>
				<xs:element name="GELS" type="GELSType"/>
				<xs:element name="SAMPLES" type="SAMPLESType"/>
				<xs:element name="SAMPLE_HISTORIES" type="SAMPLE_HISTORIESType"/>
				<xs:element name="EXPRESSION_ANALYSES" type="EXPRESSION_ANALYSESType"/>
			</xs:sequence>
			<xs:attribute name="PROJECT_ID" type="xs:ID" use="required"/>
			<xs:attribute name="TITLE" type="xs:string" use="required"/>
			<xs:attribute name="DESCRIPTION" type="xs:string" use="required"/>
			<xs:attribute name="ORG_UNIT_NAME" type="xs:string"/>
			<xs:attribute name="ORG_NAME" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="PROTEINType">
		<xs:sequence>
			<xs:element ref="ENTRY" minOccurs="0"/>
			<xs:element ref="ACCESSION" minOccurs="0"/>
			<xs:element ref="DATABANK_SOURCE" minOccurs="0"/>
			<xs:element ref="DESCRIPTION" minOccurs="0"/>
			<xs:element ref="MW" minOccurs="0"/>
			<xs:element ref="PI" minOccurs="0"/>
			<xs:element ref="SEQUENCE"/>
			<xs:element name="SEQUENCE_MATCH" type="SEQUENCE_MATCHType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="SCORE" type="xs:string" use="required"/>
		<xs:attribute name="PROBABILITY" type="xs:string"/>
		<xs:attribute name="COVERAGE" type="xs:string" use="required"/>
		<xs:attribute name="CONFIDENCE_LEVEL" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="PROTEINLYNX_QUERYType">
		<xs:sequence>
			<xs:element name="FILTER" type="FILTERType" minOccurs="0"/>
			<xs:element name="MASS_SPECTRUM" type="MASS_SPECTRUMType" minOccurs="0"/>
			<xs:choice minOccurs="0">
				<xs:sequence>
					<xs:element name="DATABANK_SEARCH_QUERY_PARAMETERS" type="DATABANK_SEARCH_QUERY_PARAMETERSType"/>
					<xs:element name="RESULT" type="RESULTType" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="AUTOMOD_QUERY_PARAMETERS" type="AUTOMOD_QUERY_PARAMETERSType"/>
					<xs:element name="RESULT" type="RESULTType" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="DENOVO_QUERY_PARAMETERS" type="DENOVO_QUERY_PARAMETERSType"/>
					<xs:element name="RESULT" type="RESULTType" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="BLASTALL_PARAMETERS" type="BLASTALL_PARAMETERSType"/>
					<xs:element name="RESULT" type="RESULTType" minOccurs="0"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="MERGED_WORKFLOW_PARAMETERS" type="MERGED_WORKFLOW_PARAMETERSType"/>
					<xs:element name="RESULT" type="RESULTType" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:element name="PROTEINLYNX_QUERY" type="PROTEINLYNX_QUERYType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:string"/>
		<xs:attribute name="TYPE">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Databank-search"/>
					<xs:enumeration value="Auto-mod"/>
					<xs:enumeration value="De-novo"/>
					<xs:enumeration value="Blast"/>
					<xs:enumeration value="Merged"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="SPECTRUM_STATUS">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Included"/>
					<xs:enumeration value="Required"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="STATUS" default="Unknown">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Pending"/>
					<xs:enumeration value="Started"/>
					<xs:enumeration value="Finished"/>
					<xs:enumeration value="Failed"/>
					<xs:enumeration value="Cancelled"/>
					<xs:enumeration value="Stopped"/>
					<xs:enumeration value="Unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PROTEIN_MWType">
		<xs:attribute name="FROM" type="xs:string" use="required"/>
		<xs:attribute name="TO" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="PROTEIN_PIType">
		<xs:attribute name="FROM" type="xs:string" use="required"/>
		<xs:attribute name="TO" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="QUERY">
		<xs:complexType>
			<xs:choice>
				<xs:choice>
					<xs:choice maxOccurs="unbounded">
						<xs:element name="INSERT" type="INSERTType"/>
						<xs:element name="UPDATE" type="UPDATEType"/>
						<xs:element name="SELECT" type="SELECTType"/>
						<xs:element name="DELETE" type="DELETEType"/>
					</xs:choice>
				</xs:choice>
				<xs:element ref="TAG"/>
			</xs:choice>
			<xs:attribute name="USERNAME" type="xs:string"/>
			<xs:attribute name="PASSWORD" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="QUERY_MASSType">
		<xs:sequence>
			<xs:element name="MASS_MATCH" type="MASS_MATCHType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:string" use="required"/>
		<xs:attribute name="MASS" type="xs:string" use="required"/>
		<xs:attribute name="CHARGE" type="xs:string" use="required"/>
		<xs:attribute name="RETENTION_TIME" type="xs:string"/>
		<xs:attribute name="EVIDENCE" type="xs:string"/>
	</xs:complexType>
	<xs:element name="READFRAME" type="xs:string"/>
	<xs:complexType name="REFERENCEType">
		<xs:sequence>
			<xs:element name="REF_ATTRIBUTE" type="REF_ATTRIBUTEType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="REF_TEXT" minOccurs="0"/>
			<xs:element name="REFERENCE" type="REFERENCEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="NAME" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="REF_ATTRIBUTEType">
		<xs:attribute name="NAME" type="xs:string" use="required"/>
		<xs:attribute name="VALUE" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="REF_TEXT" type="xs:string"/>
	<xs:complexType name="REGIONType">
		<xs:sequence>
			<xs:element ref="CDNA_SEQUENCE"/>
			<xs:element name="TRANSLATION" type="TRANSLATIONType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="START" type="xs:string" use="required"/>
		<xs:attribute name="END" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="RESULTType">
		<xs:sequence>
			<xs:element name="PEPTIDE" type="PEPTIDEType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="HIT" type="HITType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="QUERY_MASS" type="QUERY_MASSType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MODIFIER" type="MODIFIERType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:string"/>
		<xs:attribute name="TIME_CALCULATED" type="xs:string" use="required"/>
		<xs:attribute name="ENTRIES_SEARCHED" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="RES_ANALType">
		<xs:attribute name="RES_NAME" type="xs:string" use="required"/>
		<xs:attribute name="POS" type="xs:string" use="required"/>
		<xs:attribute name="PR_RES_GIVEN_DATA" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="RULEType">
		<xs:sequence>
			<xs:element name="PRIORITY" type="PRIORITYType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="TYPE" default="or">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="and"/>
					<xs:enumeration value="or"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="TAG" type="xs:string" use="required"/>
		<xs:attribute name="IDENTITY_ATTR_NAME" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SAMPLEType">
		<xs:sequence>
			<xs:element name="SAMPLE_TRACKING" type="SAMPLE_TRACKINGType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="GELSPOT_REF" type="GELSPOT_REFType" minOccurs="0"/>
			<xs:element ref="DATE" minOccurs="0"/>
			<xs:element ref="KEYWORD" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ORGANISM" minOccurs="0"/>
			<xs:element ref="SPECIES" minOccurs="0"/>
			<xs:element ref="ORGAN" minOccurs="0"/>
			<xs:element ref="TISSUE" minOccurs="0"/>
			<xs:element ref="SEX" minOccurs="0"/>
			<xs:element ref="AGE" minOccurs="0"/>
			<xs:element ref="SUBCELLULAR_LOCATION" minOccurs="0"/>
			<xs:element ref="GENOTYPE" minOccurs="0"/>
			<xs:element ref="PHENOTYPE" minOccurs="0"/>
			<xs:element ref="CONDITION" minOccurs="0"/>
			<xs:element ref="SAMPLE_TAG" minOccurs="0"/>
			<xs:element name="DATABANK_HYPERLINK" type="DATABANK_HYPERLINKType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID" use="required"/>
		<xs:attribute name="NAME" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SAMPLESType">
		<xs:sequence>
			<xs:element name="SAMPLE" type="SAMPLEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SAMPLE_HISTORIESType">
		<xs:sequence>
			<xs:element name="SAMPLE_HISTORY" type="SAMPLE_HISTORYType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SAMPLE_HISTORYType">
		<xs:sequence>
			<xs:element name="PARENT_SAMPLE" type="PARENT_SAMPLEType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:IDREF" use="required"/>
	</xs:complexType>
	<xs:element name="SAMPLE_TAG" type="xs:string"/>
	<xs:complexType name="SAMPLE_TRACKINGType">
		<xs:sequence>
			<xs:element name="CONTAINER_POSITION" type="CONTAINER_POSITIONType" maxOccurs="unbounded"/>
			<xs:element name="PROCESSING_PARAMETERS_TEMPLATE_REF" type="PROCESSING_PARAMETERS_TEMPLATE_REFType" minOccurs="0"/>
			<xs:element name="WORKFLOW_TEMPLATE_REFS" type="WORKFLOW_TEMPLATE_REFSType" minOccurs="0"/>
			<xs:sequence minOccurs="0">
				<xs:element name="MASS_SPECTRUM_EXTERNAL_REF" type="MASS_SPECTRUM_EXTERNAL_REFType"/>
				<xs:sequence minOccurs="0">
					<xs:choice minOccurs="0">
						<xs:element name="PROTEIN" type="PROTEINType"/>
						<xs:element name="EST" type="ESTType"/>
					</xs:choice>
					<xs:element name="WORKFLOW_EXTERNAL_REF" type="WORKFLOW_EXTERNAL_REFType" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:sequence>
			<xs:element name="USER_REF" type="USER_REFType" minOccurs="0"/>
			<xs:element name="AUTOMATION_WORKFLOW_TEMPLATE_REF" type="AUTOMATION_WORKFLOW_TEMPLATE_REFType" minOccurs="0"/>
			<xs:element name="ACQUISITION_PARAMETERS" type="ACQUISITION_PARAMETERSType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:ID" use="required"/>
		<xs:attribute name="OLB_PRODUCED" default="false">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MS_DATA_NAME" type="xs:string"/>
		<xs:attribute name="OBSOLETE" default="false">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AUTO_PROCESSING" default="false">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="AUTO_SEARCHING" default="false">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="USER_FIELD_1" type="xs:string"/>
		<xs:attribute name="USER_FIELD_2" type="xs:string"/>
		<xs:attribute name="USER_FIELD_3" type="xs:string"/>
		<xs:attribute name="USER_FIELD_4" type="xs:string"/>
		<xs:attribute name="USER_FIELD_5" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SAMPLE_TRACKING_IDSType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="REFERENCEType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SEARCH_DATABASEType">
		<xs:attribute name="NAME" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="SEARCH_DEPTHType">
		<xs:attribute name="MAX" type="xs:string" use="required"/>
		<xs:attribute name="SUBS" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MODS" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="true"/>
					<xs:enumeration value="false"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BLOSUM" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SEARCH_SPECIESType">
		<xs:attribute name="NAME" type="xs:string" use="required"/>
		<xs:attribute name="PATH" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SEARCH_SPECIES_LISTType">
		<xs:sequence>
			<xs:element name="SEARCH_SPECIES" type="SEARCH_SPECIESType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SEARCH_TYPEType">
		<xs:attribute name="NAME" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="MS"/>
					<xs:enumeration value="MSMS"/>
					<xs:enumeration value="MS-MSMS"/>
					<xs:enumeration value="Unknown"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SELECTType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="REFERENCEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ELEMENT_TYPE" type="xs:string" use="required"/>
		<xs:attribute name="RETURN" default="document">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="document"/>
					<xs:enumeration value="reference"/>
					<xs:enumeration value="url"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="SEQUENCE" type="xs:string"/>
	<xs:complexType name="SEQUENCE_MATCHType">
		<xs:sequence>
			<xs:element name="SUBSTITUTED" type="SUBSTITUTEDType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="ID" type="xs:string" use="required"/>
		<xs:attribute name="START" type="xs:string" use="required"/>
		<xs:attribute name="END" type="xs:string" use="required"/>
		<xs:attribute name="SCORE" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="SER_FRAG_ANALType">
		<xs:attribute name="FRAG_NAME" type="xs:string" use="required"/>
		<xs:attribute name="NUMBER" type="xs:string" use="required"/>
		<xs:attribute name="MASS" type="xs:string" use="required"/>
		<xs:attribute name="DELTA_MASS" type="xs:string" use="required"/>
		<xs:attribute name="PR_FRAG_GIVEN_DATA" type="xs:string" use="required"/>
		<xs:attribute name="INF_OF_DATA" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="SEX" type="xs:string"/>
	<xs:complexType name="SMOOTHType">
		<xs:attribute name="WINDOW" type="xs:string" use="required"/>
		<xs:attribute name="NUMBER" type="xs:string" use="required"/>
		<xs:attribute name="METHOD" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="Mean"/>
					<xs:enumeration value="Savitzky-Golay"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="SPECIES" type="xs:string"/>
	<xs:complexType name="SPECTRUM_SELECTType">
		<xs:attribute name="SPECTRUM_FILTER" type="xs:string"/>
	</xs:complexType>
	<xs:element name="START">
		<xs:complexType/>
	</xs:element>
	<xs:element name="STEP">
		<xs:complexType/>
	</xs:element>
	<xs:element name="SUBCELLULAR_LOCATION" type="xs:string"/>
	<xs:complexType name="SUBSTITUTEDType">
		<xs:attribute name="AMINO_ACID" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="A"/>
					<xs:enumeration value="C"/>
					<xs:enumeration value="D"/>
					<xs:enumeration value="E"/>
					<xs:enumeration value="F"/>
					<xs:enumeration value="G"/>
					<xs:enumeration value="H"/>
					<xs:enumeration value="I"/>
					<xs:enumeration value="K"/>
					<xs:enumeration value="L"/>
					<xs:enumeration value="M"/>
					<xs:enumeration value="N"/>
					<xs:enumeration value="P"/>
					<xs:enumeration value="Q"/>
					<xs:enumeration value="R"/>
					<xs:enumeration value="S"/>
					<xs:enumeration value="T"/>
					<xs:enumeration value="V"/>
					<xs:enumeration value="W"/>
					<xs:enumeration value="Y"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="POS" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="TAG">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:complexType name="TARGET_PLATEType">
		<xs:sequence>
			<xs:element name="PROCESSING_PARAMETERS_TEMPLATE_REF" type="PROCESSING_PARAMETERS_TEMPLATE_REFType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="TARGET_PLATE_ID" type="xs:ID" use="required"/>
		<xs:attribute name="DATE" type="xs:string" use="required"/>
		<xs:attribute name="TYPE" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="microtitre"/>
					<xs:enumeration value="target"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BARCODE" type="xs:string" use="required"/>
		<xs:attribute name="CAPACITY" type="xs:string" use="required"/>
		<xs:attribute name="NO_OF_ROWS" type="xs:string" use="required"/>
		<xs:attribute name="NO_OF_COLUMNS" type="xs:string" use="required"/>
		<xs:attribute name="TRACK" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="TARGET_PLATESType">
		<xs:sequence>
			<xs:element name="TARGET_PLATE" type="TARGET_PLATEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TEMPLATE_REFType">
		<xs:sequence>
			<xs:element name="ELEMENT_REF" type="ELEMENT_REFType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TISSUE" type="xs:string"/>
	<xs:element name="TITLE" type="xs:string"/>
	<xs:complexType name="TOPType">
		<xs:attribute name="MIN_PEAK_WIDTH" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="TRANSFORMType">
		<xs:attribute name="TYPE" default="multiple-charge">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="single-charge"/>
					<xs:enumeration value="multiple-charge"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="TRANSLATIONType">
		<xs:sequence>
			<xs:element ref="SEQUENCE" minOccurs="0"/>
			<xs:element name="SEQUENCE_MATCH" type="SEQUENCE_MATCHType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="READ_FRAME" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="UPDATEType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="REFERENCEType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="TAG"/>
		</xs:sequence>
		<xs:attribute name="ELEMENT_TYPE" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="URLType">
		<xs:attribute name="PROTOCOL" default="file">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="http"/>
					<xs:enumeration value="https"/>
					<xs:enumeration value="file"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="HOST" type="xs:string"/>
		<xs:attribute name="PORT" type="xs:string"/>
		<xs:attribute name="PATH" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="USERType">
		<xs:sequence>
			<xs:element ref="POSTAL_ADDRESS" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="EMAIL_ADDRESS" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="USER_ID" type="xs:ID" use="required"/>
		<xs:attribute name="USERNAME" type="xs:string"/>
		<xs:attribute name="ORG_UNIT_NAME" type="xs:string"/>
		<xs:attribute name="ORG_NAME" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="USERSType">
		<xs:sequence>
			<xs:element name="USER" type="USERType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="USER_INPUTType">
		<xs:attribute name="FIRST" type="xs:string" use="required"/>
		<xs:attribute name="LAST" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="USER_REFType">
		<xs:sequence>
			<xs:element name="ELEMENT_REF" type="ELEMENT_REFType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VIALType">
		<xs:sequence>
			<xs:element name="PROCESSING_PARAMETERS_TEMPLATE_REF" type="PROCESSING_PARAMETERS_TEMPLATE_REFType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="VIAL_ID" type="xs:ID" use="required"/>
		<xs:attribute name="DATE" type="xs:string" use="required"/>
		<xs:attribute name="NAME" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:complexType name="VIALSType">
		<xs:sequence>
			<xs:element name="VIAL" type="VIALType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="WORKFLOW">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MASS_SPECTRUM" type="MASS_SPECTRUMType"/>
				<xs:element name="PROTEINLYNX_QUERY" type="PROTEINLYNX_QUERYType" maxOccurs="unbounded"/>
				<xs:element name="TEMPLATE_REF" type="TEMPLATE_REFType" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="ID" type="xs:string"/>
			<xs:attribute name="PROJECT_ID" type="xs:string"/>
			<xs:attribute name="USERID" type="xs:string"/>
			<xs:attribute name="TITLE" type="xs:string"/>
			<xs:attribute name="STATUS" default="Unknown">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Pending"/>
						<xs:enumeration value="Started"/>
						<xs:enumeration value="Finished"/>
						<xs:enumeration value="Failed"/>
						<xs:enumeration value="Cancelled"/>
						<xs:enumeration value="Stopped"/>
						<xs:enumeration value="Unknown"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="WORKFLOW_EXTERNAL_REFType">
		<xs:sequence>
			<xs:element name="REFERENCE" type="REFERENCEType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WORKFLOW_TEMPLATEType">
		<xs:sequence>
			<xs:element name="PROTEINLYNX_QUERY" type="PROTEINLYNX_QUERYType" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="WORKFLOW_TEMPLATE_ID" type="xs:ID" use="required"/>
		<xs:attribute name="PROJECT_ID" type="xs:string"/>
		<xs:attribute name="TITLE" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="WORKFLOW_TEMPLATESType">
		<xs:sequence>
			<xs:element name="WORKFLOW_TEMPLATE" type="WORKFLOW_TEMPLATEType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="WORKFLOW_TEMPLATE_REFSType">
		<xs:sequence>
			<xs:element name="ELEMENT_REF" type="ELEMENT_REFType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
