psi/psi-ms/xml/mzData/mzdata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 $Id: mzdata.xsd,v 1.14 2004/08/02 12:22:24 krunte Exp $
 Authors:
  Randy K Julian (Eli Lilly)
  Andreas Wilke, Kai Runte (Bielefeld University)
  Weimin Zhu, Chris Taylor (EBI)
 Tested with:
  SQC (Schema Quality Checker, IBM), MSV (Multi Schema Validator, Sun), XMLSPY (Altova)
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
    <xs:element name="mzData">
        <xs:annotation>
            <xs:documentation>The "peak list" is really processed data from an experiment.  There can be multiple acquisitions, which might be related via a separation, or just in sequence from an automated run.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cvLookup" type="cvLookupType" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>This stores the lookup information for a referred-to controlled vocabulary source.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="desc">
                    <xs:annotation>
                        <xs:documentation>Each data set starts with a description section.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="admin" type="adminType">
                                <xs:annotation>
                                    <xs:documentation>Administrative information pertaining to the entire data set is stored here.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="instrument" type="instrumentCommonSettingsType">
                                <xs:annotation>
                                    <xs:documentation>Instrument information common to all acquisitions is stored in this section.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="dataProcessing" type="dataProcessingType">
                                <xs:annotation>
                                    <xs:documentation>Experimental information regarding the test which resulted in this data set.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="acquisitionList">
                    <xs:annotation>
                        <xs:documentation>List of acquisitions.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="acquisition" type="acquisitionType" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>This is an individual instrument acquisition.  The peak list is considered an array of acquisitions.  there are two primary ways of representing data.  base64 encoded binary or arrays of simple data types.  All arrays used to describe a single acquisition are the same length and the same indexing.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="count" type="xs:int" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="version" type="xs:string" use="required" fixed="1.02"/>
            <xs:attribute name="accessionNumber" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>The accession number for the particular mzData file</xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="sourceFileType">
        <xs:annotation>
            <xs:documentation>Data type for source file information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="nameOfFile" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Name of source file for ms run.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pathToFile" type="xs:anyURI">
                <xs:annotation>
                    <xs:documentation>URI-formatted path to file, without actual file name appended</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="fileType" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Type of the file (typically named by vendor data system; e.g. ThermoFinnigan XCalibur 1.0)</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="supDataType">
        <xs:annotation>
            <xs:documentation>Data type for additional data vectors (beyond m/z and intensity)</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="arrayName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Name of the supplemental data array</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="description" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Description of the supplemental data array</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice>
                <xs:element name="float" type="xs:float" maxOccurs="unbounded"/>
                <xs:element name="int" type="xs:int" maxOccurs="unbounded"/>
                <xs:element name="string" type="xs:string" maxOccurs="unbounded"/>
                <xs:element name="time" type="xs:duration" maxOccurs="unbounded"/>
                <xs:element name="URI" type="xs:anyURI" maxOccurs="unbounded"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
        <xs:attribute name="length" type="xs:int" use="required">
            <xs:annotation>
                <xs:documentation>Number of items in the dataArray</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="indexed" type="xs:boolean" use="required">
            <xs:annotation>
                <xs:documentation>Each dataArray can either be related to the mzArray or not.  If the elements are related to the mzArray then this flag is set to 1.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="offset" type="xs:int" use="optional" default="0">
            <xs:annotation>
                <xs:documentation>If the indexed flag is set, then this value gives the element count (starting from 1) in the mzArray which aligns with the first element in this dataArray.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="cvLookupType">
        <xs:attribute name="cvLabel" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The short label to be referred to from cvParamType</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="fullName" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>The usual name for the resource (e.g. The MGED Ontology)</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="version" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The version of the CV from which the referred-to terms are drawn</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="address" type="xs:anyURI" use="required">
            <xs:annotation>
                <xs:documentation>The URI for the resource</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="cvParamType">
        <xs:annotation>
            <xs:documentation>Data type for single valued properties from the core controlled vocabulary</xs:documentation>
        </xs:annotation>
        <xs:attribute name="cvLabel" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The short tag for the resource as defined in cvLookupType</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The accession number of the referred-to term in the named resource</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The actual cv term itself</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>The value for the parameter, where appropriate</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="personType">
        <xs:annotation>
            <xs:documentation>Data type for operator identification information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="institution" type="xs:string"/>
            <xs:element name="contactInfo" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="softwareType">
        <xs:annotation>
            <xs:documentation>Data type for software information</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="version" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="completionTime" type="xs:dateTime" use="optional"/>
    </xs:complexType>
    <xs:complexType name="dataProcessingType">
        <xs:sequence>
            <xs:element name="software" type="softwareType">
                <xs:annotation>
                    <xs:documentation>Specific information on the conversion or processing software.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="processingMethod" type="paramType">
                <xs:annotation>
                    <xs:documentation>Description of the peak processing method.  This element describes the base method used if a variable method is used or not otherwise specified in the acquisition section.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="acquisitionType">
        <xs:sequence>
            <xs:element name="acqDesc" type="acqDescType">
                <xs:annotation>
                    <xs:documentation>There is one acqDesc for each acquisition.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="supDesc" type="supDescType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>There is one supDesc for each supplemental data entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="mzArrayBinary" type="mzArrayBinaryType">
                <xs:annotation>
                    <xs:documentation>Here the list of m/z values (for any type of spectrum).  The array is stored as a base64 encoded binary.  The only type allowed is IEEE-754  floating point and the precision must be specified as  either 32 or 64.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="intenArrayBinary" type="mzArrayBinaryType">
                <xs:annotation>
                    <xs:documentation>Here the intensities of each element of the m/z array are stored also in base64 encoded binary of type float with a specified precision.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>For each acquisition, there can be a mixture of binary and simple type data arrays.  This is mostly to allow string and other data not convenently handled by base64 to be associated with binary data.  This choice allow the number of those arrary to be arbitrary.</xs:documentation>
                </xs:annotation>
                <xs:element name="dataArray" type="supDataType">
                    <xs:annotation>
                        <xs:documentation>If the raw data representation method was not binary or if the supplemental data array was a string- or other non-binary type, then it can be represented in the dataArray element.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="dataArrayBinary" type="supDataBinaryType">
                    <xs:annotation>
                        <xs:documentation>In addition to the m/z and intensity arrays, an arbitrary number of other arrays can be stored using the same indexing.  For each array stored as base64 binary a precision must be specified.  The only type allowed is IEEE-754 floating point.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="acqID" type="xs:int" use="required"/>
    </xs:complexType>
    <xs:complexType name="supDataBinaryType">
        <xs:sequence>
            <xs:element name="arrayName" type="xs:string"/>
            <xs:element name="description" type="xs:string" minOccurs="0"/>
            <xs:group ref="binaryDataGroup"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:int" use="required"/>
    </xs:complexType>
    <xs:complexType name="mzArrayBinaryType">
        <xs:group ref="binaryDataGroup"/>
    </xs:complexType>
    <xs:group name="binaryDataGroup">
        <xs:sequence>
            <xs:element name="data">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:base64Binary">
                            <xs:attribute name="precision" use="required">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="32"/>
                                        <xs:enumeration value="64"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:attribute>
                            <xs:attribute name="length" type="xs:int" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:group>
    <xs:complexType name="adminType">
        <xs:sequence>
            <xs:element name="sampleName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A label that is referable to the sample used to generate the dataset</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="contact" type="personType">
                <xs:annotation>
                    <xs:documentation>Contact person for this dataset.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="rawFile" type="sourceFileType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Information about the original source file used to generate the instance document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="acqSettingsType">
        <xs:sequence>
            <xs:element name="acqSpecification">
                <xs:annotation>
                    <xs:documentation>Specification for combining raw scans/acquisitions into a single peak list.  A list of acquisitions can be specified here.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="acquisition" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>Scan or acquisition number from original raw file used to create this peak list.</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:complexContent>
                                    <xs:extension base="paramType">
                                        <xs:attribute name="acqNumber" type="xs:int" use="required">
                                            <xs:annotation>
                                                <xs:documentation>The actual acquisition number from the raw file</xs:documentation>
                                            </xs:annotation>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:complexContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="spectrumType" use="required">
                        <xs:annotation>
                            <xs:documentation>Discrete or continuous spectra</xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="discrete"/>
                                <xs:enumeration value="continuous"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="methodOfCombination" type="xs:string" use="required"/>
                    <xs:attribute name="count" type="xs:int" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="acqInstrument">
                <xs:annotation>
                    <xs:documentation>Parameters common to the whole spectrum</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:complexContent>
                        <xs:extension base="paramType">
                            <xs:attribute name="msLevel" type="xs:int" use="required"/>
                            <xs:attribute name="mzRangeStart" type="xs:float" use="optional"/>
                            <xs:attribute name="mzRangeStop" type="xs:float" use="optional"/>
                        </xs:extension>
                    </xs:complexContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="precursorType">
        <xs:sequence>
            <xs:element name="ionSelection" type="paramType">
                <xs:annotation>
                    <xs:documentation>This is the trigger m/z (or m/z's), neutral loss etc. for tandem MS or data dependent scans.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="activation" type="paramType">
                <xs:annotation>
                    <xs:documentation>Type and energy level used for activation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="msLevel" type="xs:int" use="required"/>
        <xs:attribute name="acqIDRef" type="xs:int" use="required"/>
    </xs:complexType>
    <xs:complexType name="acqDescType">
        <xs:sequence>
            <xs:element name="acqSettings" type="acqSettingsType">
                <xs:annotation>
                    <xs:documentation>Settings for this specific acquisition.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="precursorList" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>List of precursor ions for the current acquisition.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="precursor" type="precursorType" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>This is the precursor step.  If  source activation is used then msLevel is 0.  The acqIDRef points to the acquisition from which the precursor was selected.  If source activation was used, then acqIDRef is also 0.</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="count" type="xs:int" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="sourceFile" type="sourceFileType" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Information about the original source file used to generate the instance document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Comments regarding acquisition are captured as free text.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="supDescType">
        <xs:sequence>
            <xs:element name="supDataType" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Name of supplemental data set.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sourceFile" type="sourceFileType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Information about the original source file used to generate the instance document.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="comment" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Comments regarding acquisition are captured as free text.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="instrumentCommonSettingsType">
        <xs:sequence>
            <xs:element name="instrumentName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Descriptive name of the instrument</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="source" type="paramType">
                <xs:annotation>
                    <xs:documentation>Invariant ion source information</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="analyzerList">
                <xs:annotation>
                    <xs:documentation>Ordered mass analyzer component list</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="analyzer" type="paramType" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>A single component of the mass analyzer; e.g. quadrupole</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="count" type="xs:int" use="required"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="detector" type="paramType">
                <xs:annotation>
                    <xs:documentation>Ion detector information</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="additional" type="paramType">
                <xs:annotation>
                    <xs:documentation>Subsidiary information about the instrument, captured as a run of additional parameters</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="paramType">
        <xs:choice maxOccurs="unbounded">
            <xs:element name="cvParam" type="cvParamType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>This element holds additional  data or annotation information. Only controlled name values are allowed here.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="userParam" type="userParamType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>This element holds additional  data or annotation information. Uncontrolled, or user controlled name values are allowed here.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:complexType name="userParamType">
        <xs:annotation>
            <xs:documentation>Data type for user parameters with or without xref numbers (uncontrolled vocabulary)</xs:documentation>
        </xs:annotation>
        <xs:attribute name="name" type="xs:string" use="required">
            <xs:annotation>
                <xs:documentation>The actual cv term itself</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="value" type="xs:string" use="optional">
            <xs:annotation>
                <xs:documentation>The value for the parameter, where appropriate</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
</xs:schema>
